*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFFFF;
}

.container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin: 18px 80px 18px 80px; 
}

.flexItem01{
  display:flex;
  align-items:center;
}

#logo{
}

#textoLogo{
  align-items:center;
  margin-left: 8px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.flexItem02{
  text-align: center;
}

a{
  text-decoration: none;
  margin: 28px 32px 28px 32px;
  color:Gray;
  
}
.flexItem03{
  text-align: center;
}

#entrar{
  border:none;
  background:none;
  margin-right: 30px;
  color:Gray;
}

#cadastrar{
  padding: 10px 18px 10px 18px;
  background:#8E2424;
  color: #FFFFFF;
  border-radius:8px;
  border:none;
}

.sectionBox{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 407px;
  left: 0px;
  top: 80px;
}

#sectionBox01{
  margin-bottom: 24px;
  color: #8E2424;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

#sectionBox02{
  margin-bottom: 36px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #101828;
  text-align: center;
}

#sectionBox03{
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  max-width: 791px;
  color:#667085;
}

.boxDasMetricas{
  height:288px;
}

.metricas{
  display:flex;
  justify-content:space-between;
  justify-content:center;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  color:#8E2424;
  
}

.numerosDasMetricas{
  width: 280px;
  height: 72px;
}

.textoPrincipalDasMetricas{
  display:flex;
  justify-content:space-between;
  justify-content:center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  color:#101828;

  
}

.textoDasMetricas{
  width: 280px;
  height: 28px;
}

.subTextoPrincipalDasMetricas{
  display:flex;
  justify-content:space-between;
  justify-content:center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.subTextoDasMetricas{
  width: 280px;
}